:root{
  --color-bg1: #E3E3E3;
  --color-bg2: #ffffcc;
  --color-bg3: gainsboro;
  --color-bg4: white;
  --color-tx1: black;
  --color-cnv: white;
  --color-plt: #000000;
}

[data-theme="dark"] {
  --color-bg1: #414244;
  --color-bg2: #414244;
  --color-bg3: #414244;
  --color-bg4: #3B3B3B;
  --color-tx1: white;
  --color-cnv: #C5C5C5;
  --color-plt: #FFFFFF;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg4);
}

header{
    background-color: var(--color-bg1);
    margin: 10px;
    text-align: center;
}

.container-fluid{
    
}
.custom-control custom-switch{
    text-align: left;
}

.plot{
    background-color: white;
    margin: 10px;
}

.navbar-brand{
    margin: 10px;
    font-size: xx-large;
}

.charts-section{
    background-color: var(--color-bg2);
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.charts-section figure img {
    border-radius: 10px;
}

.charts-section figure{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.table-section {
    background-color: var(--color-bg3);
    color: var(--color-tx1);
    margin: 10px;
}

.txt-txt{
    color: var(--color-tx1);
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

footer{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: smaller;
}
